# Dependencies
**/node_modules
**/.pnpm-store
./**/package-lock.json
./**/pnpm-lock.yaml
# Next.js
app/.next/
app/out/

# TypeScript build output
rag-pipeline/dist/

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*

# Docker volumes (local)
**/chroma-data/
